{% extends "layout.html" %}
{% block title %}Chat Page 2{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}
{% block content %}
    <meta http-equiv="refresh" content="10" >
    <h1>Chat Page 1 - User: {{user}}</h1>
    
    <p>
        <input type="submit" value="MUDAR PARA CHAT 0" 
            onclick="window.location='/';" /> 
    </p>

    <div>
        <tbody>
            Chat:
            {% if chat == [] %}
            <p>
                No messages
            </p>
            {% endif %}
            <div>
                {% for message in chat %}
                    <div>
                        {{message}}
                    </div>
                {% endfor %}
            </div>
        </tbody>
    </div>
    <div>
        <form method="POST" action="/send">
            <p>
                <label>Write a message: </label>
                <input class="form-control" type="text" name="message" required>
                <label>Press enter to send </label>
            </p>
        </form>
    </div>
    <p>
        <a href="{{url_for('logout')}}">
            <input type="button" value="LOGOUT">
        </a>
    </p>
{% endblock %}